-r requirements.txt
apiritif==0.9.5
Appium-Python-Client==1.0.2
astunparse==1.6.3
bzt==1.15.1
colorama==0.4.4
colorlog==4.7.0
cssselect==1.1.0
decorator==4.4.2
EasyProcess==0.3
fuzzyset==0.0.19
gevent==20.12.1
greenlet==1.0.0
hdrpy==0.3.3
ipaddress==1.0.23
jsonpath-rw==1.4.0
lxml==4.6.2
nose==1.3.7
numpy==1.19.5
ply==3.11
progressbar33==2.4
psutil==5.8.0
python-Levenshtein==0.12.0
PyVirtualDisplay==2.0
terminaltables==3.1.0
texttable==1.6.3
unicodecsv==0.14.1
urwid==2.1.2
